<%= provide(:title, "Sign in")%>

<h1>Sign in</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>
			
			<%= f.check_box :remember %>
			<%= f.label :remember %>

			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
		
		<p>New?  <%= link_to 'click here!', signup_path%>
	</div>
</div>