<% provide(:title, "Change password")%>
<% @user||=current_user %>
<h1>Change <%= current_user?(@user) ? "your" : "#{@user.name}'s" %> password</h1>

<div class="row">
	<div class="col-md-6 offset3">
		<%= form_for(@user) do |f| %>
		
			<%= render 'shared/error_messages', object: f.object %>
		
			<div class="form-group">
			<%= f.label :old_password,  "Your password" %>
			<%= f.password_field :old_password, class: "form-control" %>
			</div>

			<%= render 'password_fields', f: f %>

			<%= f.submit "Change password", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
