<% provide(:title,"Edit user")%>

<h1>Update profile</h1>

<div class="row">
	<div class="col-md-6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "example@example.com" %>
		
		<%= f.label :gravatar_email %>
		<%= f.text_field :gravatar_email, placeholder: "example@example.com" %>
		
		<%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails" target="_blank">change</a>
	</div>
</div>
