<% provide(:title,"Edit user")%>

<h1>Update profile</h1>

<div class="row">
	<div class="col-md-6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "example@example.com", class: "form-control" %>
		</div>
		
		<div class="form-group">
		<%= f.label :gravatar_email %>
		<%= f.text_field :gravatar_email, placeholder: "example@example.com", class: "form-control" %>
		</div>
		
		<div class="form-group">
		<%= f.label :facebook_id %>
		<%= f.text_field :facebook_id, class: "form-control" %>
		<p class="help-block">If you want to have Facebook comments active on your posts then setting your ID here will allow you to moderate them.</p>
		</div>
		<div class="form-group">
		<%= f.label :google_plus %>
		<%= f.text_field :google_plus, class: "form-control" %>
		<p class="help-block">Set your Google plus ID to create a link on your posts to your Google plus profile.  If you also set this website as a "Contributor to" link in your Google plus profile it'll mark you as the author and display your details in Google search results.  Your Google plus ID will either be a bunch of numbers, or a custom name you've set, preceded by +. See <a href="https://support.google.com/plus/answer/2676340?hl=en-GB">Google+ custom URLs</a> for info.</p>
		</div>
		
		
		<%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails" target="_blank">change</a>
	</div>
</div>
