<div class="row">
	<div class="span1">
		<%= gravatar_for post.user %>
	</div>
	<div class="span8">
		<h2><%=post.title%></h2>
		<p class="byline">
			Posted by <%= post.user.name%> <%= time_ago_in_words(post.at) %>
		</p>
		<% if post.embed_code %>
		<div class="embed">
			<%= post.embed_code %>
		</div>
		<% end %>
		<div class="write_up">
			<%= post.write_up %>
		</div>
	</div>
</div>