<header class="navbar navbar-static-top navbar-inverse">
	<div class="container">
		<nav>
			<div class="navbar-header">
				<%= link_to 'Run', root_url, class: "navbar-brand" %>
			</div>
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<%= render 'shared/categories_header' %>
				</ul>
			</div>
			<div class="navbar-header navbar-right">
				<ul class="nav navbar-nav">
					<li><%= link_to "About", about_path %></li>
					<% if signed_in? %>
					<li><%= link_to "Users", users_path %></li>
					<li id="new-menu" class="dropdown">
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "New activity", new_activity_path %></li>
							<li><%= link_to "New post", new_post_path %></li>
						</ul>
					</li>
					<% if is_admin? %>
					<li id="admin-menu" class="dropdown">
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Create user", new_user_path %></li>
							<li><%= link_to "Manage users", users_path %></li>
							<li><%= link_to "Manage categories", categories_path %></li>
							<li><%= link_to "Manage activity types", activity_types_path %></li>
							<li><%= link_to "Hits", hits_path %></li>
						</ul>
					</li>					
					<% end %>
					<li id="profile-menu" class="dropdown">
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">
							<div style="display:inline;">
								<%= gravatar_for current_user, size: 20 %>
							</div>
							<%= current_user.name %> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Change password", change_password_path %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Session maintenance", user_sessions_path(current_user)%></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete"%>
							</li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to "Sign in", signin_path  %></li>
					<li><%= link_to "Sign up", signup_path  %></li>
					<% end %>
				</ul>
			</div>
		</nav>
	</div>
</header>
